/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles */
.App-header {
  background-color: #094961;;
  color: white;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.brand-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(236, 231, 231);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #575757;
}

/* Main Content Styles */
.main-content {
  
  padding: 0px 0px;
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 0.9rem;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .nav-link {
    padding: 8px;
  }
}
